page-create-account {
    .createaccount-wrapper {
        max-width: 500px;
        margin: auto;
      }
      .field {
        width:100%;
        margin-bottom: 10px;
        padding: 5px;
      }
}
